<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.chinau">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--微信支付需要的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name="cn.com.chinau.ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleBar">
        <activity android:name="cn.com.chinau.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.com.chinau.MainActivity" />
        <!-- 扫描二维码 -->
        <activity android:name="cn.com.chinau.zxing.activity.CaptureActivity" />
        <!-- 搜索 -->
        <activity
            android:name="cn.com.chinau.activity.SearchActivity"
            android:launchMode="singleTask" />
        <!-- 搜索的详情页面 -->
        <activity android:name="cn.com.chinau.activity.SearchDetailActivity" />
        <!-- 邮票目录详情页 -->
        <activity
            android:name="cn.com.chinau.activity.StampTapDetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <!-- 分享弹出页面 -->
        <activity
            android:name="cn.com.chinau.activity.SharedActivity"
            android:theme="@style/MyDialogStyleBottom" />
        />
        <activity android:name="cn.com.chinau.activity.StampActivity" />

        <!-- 商城 -->
        <activity android:name="cn.com.chinau.activity.SelfMallActivity" />
        <!--商城详情-->
        <activity android:name="cn.com.chinau.activity.SelfMallDetailActivity" />
        <activity
            android:name="cn.com.chinau.activity.StampDetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />

        <activity android:name="cn.com.chinau.activity.AuctionActivity" />
        <activity android:name="cn.com.chinau.activity.ScanActivity" />
        <activity
            android:name="cn.com.chinau.activity.AuctionDetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity android:name="cn.com.chinau.activity.DesignerActivity" />
        <activity android:name="cn.com.chinau.activity.LoginActivity" />
        <activity android:name="cn.com.chinau.activity.UsMeActivity" />
        <activity android:name="cn.com.chinau.activity.ResettingPassWordActivity" />
        <activity android:name="cn.com.chinau.activity.RegisterActivity" />
        <activity android:name="cn.com.chinau.activity.WithdrawActivity" />
        <activity android:name="cn.com.chinau.activity.CardActivity" />
        <activity
            android:name="cn.com.chinau.activity.ReviseCardActivity"
            android:label="@string/title_activity_revise" />
        <activity android:name="cn.com.chinau.activity.ApplyWithdrawActivity" />
        <activity android:name="cn.com.chinau.activity.UnBundlingActivity" />
        <activity android:name="cn.com.chinau.activity.ScanDetailsActivity" />
        <activity android:name="cn.com.chinau.activity.AffirmBuyBackActivity" />
        <activity android:name="cn.com.chinau.activity.FastMailInfoActivity" />
        <activity android:name="cn.com.chinau.activity.FastMailSubmitActivity" />
        <activity android:name="cn.com.chinau.activity.PressWordManagerActivity" />
        <activity android:name="cn.com.chinau.activity.LoginPressWordActivity" />
        <activity android:name="cn.com.chinau.activity.WithdrawPressWordActivity" />
        <activity android:name="cn.com.chinau.activity.ServiceProtocolActivity" />
        <activity android:name="cn.com.chinau.activity.MyStampActivity"></activity>
        <!--确认订单页面-->
        <activity android:name="cn.com.chinau.activity.FirmOrderActivity"
            android:exported="true"
            android:launchMode="singleTop"
            >
            <!--这个intent-filter不要忘了-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxd930ea5d5a258f4f"/>
            </intent-filter>
        </activity>

        <activity android:name="cn.com.chinau.activity.ManagerAddressActivity"></activity>
        <activity android:name="cn.com.chinau.activity.EditReceiptAddressActivity"></activity>
        <activity android:name="cn.com.chinau.activity.AuctionRecordActivity"></activity>
        <activity android:name="cn.com.chinau.activity.MyCollectionActivity"></activity>
        <activity
            android:name="cn.com.chinau.activity.DesignerDetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <!--设计家H5详情页面-->
        <activity android:name="cn.com.chinau.activity.DesignerH5DetailActivity"></activity>

        <activity android:name=".activity.ScanOrderBuyDetailActivity"></activity>
        <activity android:name="cn.com.chinau.activity.OrderBuyBackActivity"></activity>
        <activity android:name="cn.com.chinau.activity.LogisticsDetailsActivity"></activity>
        <activity android:name="cn.com.chinau.activity.OrderDetailsActivity"></activity>
        <activity android:name="cn.com.chinau.activity.HomeImageH5Activity"></activity>
        <activity
            android:name="cn.com.chinau.activity.OrdersGoodsActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="cn.com.chinau.activity.ChooseReceiverAddress" />

        <activity android:name="cn.com.chinau.activity.ApplyForRefuseActivity" />
        <activity android:name="cn.com.chinau.activity.SuccessApplyForRefuseActivity" />
        <activity android:name="cn.com.chinau.activity.LookOrderDetailRefuseActivity" />
        <activity android:name="cn.com.chinau.activity.BigPhotoActivity" />
        <!--微信支付成功后舔砖页面-->
        <activity
            android:name="cn.com.chinau.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <!--app注册到微信-->
        <receiver android:name="cn.com.chinau.ui.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>